
body{
	background-image: url(img/bg.jpeg);
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;

}

a{
	text-decoration: none;
}

a:link, a:visited{

}
a:hover, a:active{

}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;


}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0;
}
.mainHeader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;

}
.mainHeader nav ul li {
	float: left;
	display: inline;

}
.mainHeader nav a:link, 
.mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px; 
}
.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav a.active a:link,
.mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow:none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}

.content{
	width: 70%;
	float: left;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.topcontent {
	background-color: #FFE;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%;
	margin-top: 2%;


}

.bottomcontent {
	background-color: #FEE;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%;
	margin-top: 2%;

}

.top-sidebar {
	width: 21%;
	float: left;
	background-color:lightblue;	
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 2%;
	margin-left: 3%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;

	
}

.middle-sidebar {
	width: 21%;
	float: left;
	background-color:lightblue;	
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;

	
}

.bottom-sidebar {
	width: 21%;
	float: left;
	background-color:lightblue;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;


}
/* 45:01;   sidebarlarda padding yokken sorunsuz gorunuyor */